*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
}
.navbar{
    position: relative;
    display: flex;
    font-size: 200%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    background: navy;
}
#center_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#bomb_count, #clock{
    background: black;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}
#face{
    color: yellow;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
    background: grey;
    border-radius: 5px;
}
.line{
    background:white;
    width: 1em;
    height: 0.1em;
    margin: 0.1em;
}
#grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: lightgrey;
    margin: auto;
    justify-content: space-around;
}
#options{
    color: white;
}
#options:hover{
    color: red;
}
#options ul{
    position: absolute;
    background: navy;
    list-style: none;
    left: 0;
    z-index: 5;
}
#options li{
    border-radius: 0.5em;
    padding: 0.5em;
    color: white;
    margin: 0.5em;
    font-size: 0.7em;
    transition: all 0.2s ease-in;
}
#options li:hover{
    background: white;
    color: black;
}
.check_0{
    text-align: center;
    color: darkgray;
    background: darkgrey;
    border: 10px solid black;
}
.check_1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: table-cell;
    vertical-align:auto;
    text-align: center;
    background: darkgray;
    color: blue;
}
.check_2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: table-cell;
    vertical-align:auto;
    text-align: center;
    background: darkgrey;
    color: green;
}
.check_3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: table-cell;
    vertical-align:auto;
    text-align: center;
    background: darkgrey;
    color: red;
}
.check_4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: table-cell;
    vertical-align:auto;
    text-align: center;
    background: darkgrey;
    color: purple;
}
.detonated{
    background: grey;
}